button {
    padding: 7px 10px;

    background-color: #333;
    border: 1px #333 solid;
    border-radius: 0;

    color: white;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 10px;
}

#games {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

#return {
    background-color: #222;
}

#gametitle {
    margin: 15px 0 20px 0;
    font-size: 1.5rem;
    color: white;

    font-style: italic;

    &::before,
    &::after {
        content: "'";
    }
}

#game {
    padding: 15px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: 1px solid dimgrey;

    div:last-of-type {
        align-items: end;
    }

    &>div {
        align-self: start;

        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }

    #name {
        font-style: italic;

        &::before,
        &::after {
            content: "'";
            padding: 0 1px;
        }
    }

    #owner {
        color: lightblue;

        &::before {
            color: lightgrey;
            content: "Created by: "
        }
    }

    #created_at {
        color: white;

        &::before {
            color: grey;
            content: "Created about "
        }
    }

    #players {
        color: lightblue;

        &::before {
            color: grey;
            content: "Players: "
        }
    }

    #playerslist {
        ul {
            margin: 0 0 15px 0;
            color: lightblue;
        }

        li::marker {
            color: grey;
        }
    }
}
