@import "fonts";

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes whiteGlow {
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 2px 2px 10px #999;
    }
}

@keyframes darkRedGlow {
    from {
        text-shadow: none;
    }

    to {
        text-shadow: 2px 2px 10px darkred;
    }
}

#enter {
    height: 100%;

    display: flex;
    flex-direction: vertical;
    justify-content: center;
    align-items: center;

    color: white;
    font-family: monospace;
    font-size: 2em;

    text-shadow:
        0 0 10px black,
        0 0 20px black,
        0 0 30px black,
        0 0 40px black;

    &::before {
        content: '[';
    }

    &::after {
        content: ']';
    }
}

#jumbo {
    margin: 0;
    padding: 0;

    width: 100%;
    min-height: 100%;

    background-color: rgba(0, 0, 0, 0.8);

    opacity: 0;
    animation: fadeIn 7s ease;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    #content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: rgba(0, 0, 0, 0);

        opacity: 0;
        animation: fadeIn 5s ease;
        animation-delay: 3s;

        #title {
            margin: 0;
            padding: 50px 0 20px 0;

            font-size: min(15vw, 5rem);
            font-family: Perrygot;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 1.2em;

            animation: whiteGlow 5s ease;
            animation-delay: 3s;

            color: whitesmoke;
        }

        #under {
            margin: 5px 10px 0 0;

            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: center;
            gap: 30px;

            align-self: end;
        }

        #author {
            margin: 0;

            font-size: min(6vw, 1.8rem);
            font-family: Perrygot;

            color: brown;

            opacity: 0;
            animation:
                fadeIn 3s ease-out,
                darkRedGlow 3s ease;
            animation-delay: 6s;

            &::before {
                content: "By ";

                font-size: min(5vw, 1.2rem);
                color: darkred;
            }
        }

        a,
        #sword {
            width: 200px;
            height: auto;

            user-select: none;

            opacity: 0;
            animation: fadeIn 3s ease-out;
            animation-delay: 4s;

            filter: brightness(0.75);
            transition: filter 0.4s ease-in-out;

            &:hover {
                filter: brightness(2);
            }
        }
    }
}
