@use "sass:color";

#navbar {
    padding: 15px;

    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 15px;

    #title {
        font-size: 1.5rem;
        color: white;
        text-decoration: none;

        transition: 0.3s;

        &:hover {
            color: lavender;
        }
    }

    #divider {
        font-size: 1.5rem;
        color: white;
    }

    #links {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 15px;
    }

    #links a {
        color: white;
        text-decoration: underline;

        transition: 0.3s;

        &:hover {
            color: lavender;
        }
    }

    #links:last-of-type {
        margin-left: auto;
    }

    #username {
        padding: 4px 8px;
        margin: 0;

        color: crimson;
        border: 1px solid crimson;
    }
}

#page {
    margin: 0 auto;
    padding: 15px;
    max-width: 1000px;
}

#content {
    padding: 25px;

    display: flex;
    flex-direction: column;

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);

    border-top: 10px solid color.scale(crimson, $lightness: -20%);

    color: whitesmoke;

    p {
        text-shadow:
            0px 0px 10px black,
            0px 0px 20px black;
    }

    #title {
        margin: 15px 0 20px 0;
        font-size: 1.5rem;
        color: white;
    }
}
