#games {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 15px;
}

#game {
    padding: 15px;
    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &>div:last-of-type {
        align-items: end;
    }

    &>div {
        display: flex;
        gap: 15px;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        &>#name {
            font-style: italic;

            &::before,
            &::after {
                content: "'";
                padding: 0 1px;
            }
        }

        &>#owner {
            color: lightblue;

            &::before {
                color: lightgrey;
                content: "Created by: "
            }
        }

        &>#created_at {
            color: white;

            &::before {
                color: grey;
                content: "Created about "
            }
        }

        &>#players {
            color: lightblue;

            &::before {
                color: grey;
                content: "Players: "
            }
        }

        &>#buttons {
            display: flex;
            flex-direction: row;
            justify-content: end;
            gap: 10px;

            &>#join {
                padding: 7px 10px;

                background-color: #333;
                border: 1px #333 solid;
                border-radius: 0;

                color: white;
            }

            &>#view {
                padding: 7px 10px;

                background-color: #333;
                border: 1px #333 solid;
                border-radius: 0;

                color: white;
            }
        }
    }
}
