@use "sass:color";
@use "layout";
@use "home";
@use "games";
@use "login";
@use "play";

* {
    animation-fill-mode: forwards !important;
}

:root,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: black;
    background-image: url("/assets/img/backgrounds/behance_viking_settlement.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: Georgia;
}

a,
button {
    cursor: pointer;
}

button {
    padding: 7px 10px;

    background-color: #333;
    border: 1px #111 solid;
    border-radius: 0;

    color: white;
}

button[disabled=""] {
    background-color: #222;
    color: #555;
}

.user {
    color: color.scale(crimson, $lightness: 30%) !important;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}
