@use "layout";
@use "home";
@use "games";
@use "login";

* {
    animation-fill-mode: forwards !important;
}

:root,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: black;
    background-image: url("/assets/img/backgrounds/behance_viking_settlement.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    font-family: Georgia;
}

a,
button {
    cursor: pointer;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
}

.g15 {
    gap: 15px;
}

.w100 {
    width: 100%;
}
